{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"],
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-istanbul"]
    },
    "test": {
      "plugins": ["babel-plugin-istanbul"]
    }
  }
}
