LABEL_STUDIO_HOST=http://localhost:8080
COMPOSE_PROFILES=minio,prod

# postgres
POSTGRES_DATABASE=labelstudio
POSTGRES_USER=admin
POSTGRES_PASSWORD=Yolo123456
POSTGRES_PORT=5432

# minio
MINIO_ENDPOINT=http://minio:9000
MINIO_VERSION=RELEASE.2025-04-22T22-12-26Z
MINIO_MC_VERSION=RELEASE.2025-05-21T01-59-54Z
MINIO_USER=admin
MINIO_PASSWORD=Min12345678
MINIO_BUCKET=labelstudio
MINIO_ACCESS_KEY=QhLY3B0XJtBEj9daUXS5
MINIO_SECRET_KEY=GZkUs2hbybWapYBahcNOHK7k1OBwWlNHR3WDU0Ux

# storage volumns
MYSQL_DATA_VOLUME=/data/mysql-data
LABEL_DATA_VOLUME=/data/label-data
POSTGRES_DATA_VOLUME=/data/postgres-data
MINIO_DATA_VOLUME=/data/minio-data
REDIS_DATA_VOLUME=/data/redis-data

# Docker-registry
DOCKER_REGISTRY_PREFIX=
IMAGE_TAG=latest

# training 
TRAIN_DEVICE=cpu
# TRAIN_DEVICE=gpu